<nav class="navigation-links-navigation-links" [ngClass]="rootClassName">
  <div class="navigation-links-links">
    <a routerLink="/" class="navigation-links-link navLink">{{ Link }}</a>
    <a routerLink="/" class="navigation-links-link1 navLink">{{ Link1 }}</a>
    <a routerLink="/" class="navigation-links-link2 navLink">{{ Link2 }}</a>
    <a routerLink="/" class="navigation-links-link3 navLink">{{ Link3 }}</a>
  </div>
  <div class="navigation-links-hamburger">
    <img
      [attr.alt]="image_alt"
      [attr.src]="image_src"
      class="navigation-links-image"
    />
  </div>
</nav>
