<div class="steps-steps-list">
  <div class="steps-list">
    <div class="steps-section">
      <app-number></app-number>
      <span class="steps-caption">{{ Caption4 }}</span>
    </div>
    <div class="steps-divider"></div>
    <div class="steps-section1">
      <app-number value="2" rootClassName="number-root-class-name"></app-number>
      <span class="steps-caption1">{{ Caption41 }}</span>
    </div>
    <div class="steps-divider1"></div>
    <div class="steps-section2">
      <app-number
        value="3"
        rootClassName="number-root-class-name1"
      ></app-number>
      <span class="steps-caption2">{{ Caption411 }}</span>
    </div>
    <div class="steps-divider2"></div>
    <div class="steps-section3">
      <app-number
        value="4"
        rootClassName="number-root-class-name2"
      ></app-number>
      <span class="steps-caption3">{{ Caption4111 }}</span>
    </div>
  </div>
</div>
