<a href="https://google.com" target="_blank" rel="noreferrer noopener">
  <div class="blog-post-card-blog-post-card" [ngClass]="rootClassName">
    <img
      [attr.alt]="image_alt"
      [attr.src]="image_src"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-post-card-image"
    />
    <div class="blog-post-card-container">
      <div class="blog-post-card-container1">
        <span class="blog-post-card-text">{{ label }}</span>
        <span class="blog-post-card-text1">{{ when }}</span>
      </div>
      <h1 class="blog-post-card-text2">{{ title }}</h1>
      <span class="blog-post-card-text3">{{ description }}</span>
      <div class="blog-post-card-container2">
        <div class="blog-post-card-profile">
          <img
            [attr.alt]="profile_alt"
            [attr.src]="profile_src"
            class="blog-post-card-image1"
          />
          <span class="blog-post-card-text4">{{ author }}</span>
        </div>
        <span class="blog-post-card-text5">Read More -&gt;</span>
      </div>
    </div>
  </div>
</a>
